{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>{% block title %}Login{% endblock title %}</title>
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="{% url 'password_reset' %}" class="btn btn-danger" role="button">Reset Password</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
